body {
	margin: auto;
	max-width: 980px;
  font: 1em/1.4 sans-serif;
  background: #fff;
}

main {
  padding: 40px 0px;
  border-radius: 5px;
  box-shadow: 5px 55px 50px -20px #b6b6b6; 
}

iframe{
  border: 0
}

header {
  margin: 10px 0px 0px 0px; 
  background: deepskyblue;
  display: flex;
  box-shadow: 5px 15px 5px -20px #b6b6b6; 
  border-radius: 5px;
}

header a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

h3{
  margin: 0;
}

header li:hover {
  background: darken(rgb(52, 105, 122), 2%);
}

header ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  justify-content: flex-end;
  margin: 0;
}